@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    /* hamburger button does not need to be shown */
    /* Multi-section*/
    header,
    main {
        max-width: 100%;
        text-align: center;
        align-content: center;
        font-family: 'Roboto', Calibri, sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Roboto', Calibri, sans-serif;
    }

    footer,
    nav,
    p {
        max-width: 100%;
        text-align: center;
        font-family: 'Barlow', Calibri, sans-serif;
    }

    html,
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    /* Header section */
    header {
        background-color: #87C82E;
        max-height: 150px;
        max-width: inherit;
        clear: left;
    }
    header h1 {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 8px;
        color: white;
        background-color: #87C82E;
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
    }
    header .subheading {
        text-align: left;
        margin-left: 25%;
        font-size: 15px;
        padding: 0 0 3px 0;
    }
    header figure.logo {
        margin: 0;
        float: left;
        align-content: center;
    }
    header figure.logo img {
        max-width: 58px;
        max-height: 58px;
    }
    /* Navigation Section*/
    #hamburgerB {
        display: none;
    }

    .navContainer {
        display: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border: none;
        flex-flow: row wrap;
        background-color: #1AB75D;
        align-items: stretch;
    }

    .navContainer.hide {
        display: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border: none;
        flex-flow: row wrap;
        background-color: #1AB75D;
        align-items: stretch;
    }

    section.current {
        display: flex;
        flex-flow: column;

    }


    /* /* City Article*/
    article p.town-article img {
        width: 62.666%;
        float: right;
        margin-left: 10px;
    }
    article {
        padding: 10px;
        overflow: auto;
        margin-top: 50px;
    }
    article p {
        padding: 10px;
        overflow: auto;
    }

    article img {
        max-width: 50%;
    }

    main {
        margin-top: 0;
        flex: 1;

    }
    main h2 {
        margin: 0;
    }
    /* Main picture section*/
    main .primaryFig {
        margin: 0 10px;
        width: 50%;
        height: 250px;
    }
    main .primaryFig .primaryImg {
        height: 100%;
        width: 100%;
        object-position: 100% 35%;
    }

    /* Grid images from the home site */
    .gridHome {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .gridHome article {
        border: 1px solid #87c82E;
        border-radius: 10px 10px;
        color: #565656;
    }

    .gridHome article:hover {
        box-shadow: 4px 4px 20px 4px #55E994;
        border-radius: 10px 10px;
    }

    .gridHome article img {
        min-width: 100%;
        max-height: 100%;
        border-radius: 10px 10px;
    }
    .gridHome .gridHome1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .gridHome .gridHome2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    .gridHome .gridHome3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .gridHome .gridHome4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    /* Grid images from the adventures site */
    .gridAdventure {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .gridAdventure article {
        border: 1px solid #87c82E;
        border-radius: 10px 10px;
        color: #565656;

    }

    .gridAdventure article:hover {
        box-shadow: 4px 4px 20px 4px #55E994;
        border-radius: 10px 10px;
    }

    .gridAdventure article img {
        min-width: 100%;
        max-height: 100%;
        border-radius: 10px 10px;
    }
    .gridAdventure .gridHome1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .gridAdventure .gridHome2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    /* Grid images from the sales site */
    .gridSale {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .gridSale article {
        border: 1px solid #87c82E;
        border-radius: 10px 10px;
        color: #565656;

    }

    .gridSale article:hover {
        box-shadow: 4px 4px 20px 4px #55E994;
        border-radius: 10px 10px;
    }

    .gridSale article img {
        min-width: 100%;
        max-height: 100%;
        border-radius: 10px 10px;
    }
    .gridSale .gridSale1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .gridSale .gridSale2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    .gridSale .gridSale3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    /* Footer Section*/
    footer > p {
        margin: 0;
        padding: 8px;
        color: black;
        background-color: #9BD74A;
        position: relative;
        clear: both;
    }

    footer aside {
        margin: 0;
        padding: 1px;
        color: black;
        background-color: #AEDF6C;
        position: relative;
        clear: both;
    }

    a {
        text-decoration: none;
    }

    .eventDescription{
        padding-left: 60px;
        padding-right: 60px;
    }

    .eventDescription p{
        margin-bottom: 50px;
        margin-bottom: 30px;
    }

    iframe{
        width:90%;
        height: 500px;
        border:0;
    }
    table {
        box-shadow: 10px 10px 12px #628ca6;
        width: 50%;
        min-height: 80%;
        margin: 1% 20% 1% 25%;
    }

    video{
        width: 550px;
    }


}
